body {
	width: 100%;
	background: rgb(238, 241, 244);
	height: 100vh;
}

.container {
	width: 500px;
}

.form-control {
	margin: 20px 0 0 0;
}

.form-control label {
	margin-bottom: 5px;
}

button {
	display: flex;
	width: 200px;
	line-height: 25px;
	border-radius: 5px;
	border: none;
	color: #fff;
	background: #631aa3;
	justify-content: center;
	margin-top: 10px;
}
